
<%- include('header') -%>


<div class="text-center center-div" id="feedback">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Feedback</h2>
            
        </div>
        <form action="/route/chestionar/" method="POST" class="pt-3">
            <div class="form-group">
                <p>Cum a fost cursul?</p>
                <input type="text" id="1" class="form-control"  onblur="getVal() ">
                <br>

                <p>Da o nota de la 1 la 10 profesorului de la curs</p>
                <input type="text" class="form-control"  onblur="getVal()">
                <br>

                <p>Da o nota de la 1 la 10 profesorului de la seminar/laborator</p>
                <input type="text" class="form-control"  onblur="getVal()">
                <br>

                <p>Ce ti-a placut?</p>
                <input type="text" class="form-control"  onblur="getVal()">
                <br>

                <p>Ce nu ti-a placut?</p>
                <input type="text" class="form-control"  onblur="getVal()">
                <br>

                <p>Aveti ceva de adaugat?</p>
                <input type="text" class="form-control"  onblur="getVal()">
                <br>
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form>
    </div>
</div>


<%- include('footer') -%>
