<%- include('header') -%>

<div class="text-center  mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>V-ati logat cu succes in cont</h3>
        <h3><%= body.email%></h3><br>
        <a href="/route/allFeedbacks" class="btn btn-success rounded-pill">Toate evaluarile</a> 
        <br><br>
        <a href="/route/db" class="btn btn-success rounded-pill">Editati Studenti/Profesori</a> 
        <br><br>
        <a href="/route/questions" class="btn btn-success rounded-pill">Editati intrebarile</a> 
        <br><br>
        <a href="/route/courses" class="btn btn-success rounded-pill">Editati planul</a> 
        <br><br>
        <a href="/route/myAdminProfile" class="btn btn-success rounded-pill">Profilul meu</a>
        <br><br>
        <a href="/route/import" class="btn btn-success rounded-pill">Importuri</a>
        <br><br>
        <a href="/route/export" class="btn btn-success rounded-pill">Export evaluari</a>
        <br><br>
        <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a>
    </div>
</div>

<%- include('footer') -%>