<%- include('header') -%>
<script>
    sessionStorage.clear();
</script>
<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>V-ati logat cu succes in cont</h3>
        <h3><%= body.email%></h3>
        <a href="/route/Logout">Logout</a>
        <br>
        <a href="/route/chestionar">Feedback</a>
        <a href="/route/profesori">Lista Profesori</a>
    </div>
</div>

<%- include('footer') -%>