<%- include('header') -%>
    <div class="text-center center-div" id="feedback">
        <div class="container w-25 border py-5">
            <h2 class="font-weight-bold">My Feedbacks</h2>
            <div class="form-group">
                <br>
                <div name="feedback">

                    <% Q.forEach(function (chiu) {%>
                        <p>
                            <%=chiu.intrebare%>
                        </p>
                        <%})%>
                            <br>
                                <br>
                                <%for (var i=0; i < fb.length; i++) {console.log(i) %>
                                    <% console.log("FB:", Object.keys(fb[i]['dataValues']).length-3) %>
                                        <% for (var j=1; j <=Object.keys(fb[i]['dataValues']).length-5; j++)
                                            {console.log("intrebare", fb[i]['dataValues']["Raspuns".concat(j)]) %>
                                            <p>
                                                <%= fb[i]['dataValues']["Raspuns".concat(j)] %>
                                            </p>
                                            <% }%><br>
                                                <%}%>
                </div>
            </div>
            </form>
            <br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a>
        </div>
    </div>


    <%- include('footer') -%>