<%- include('header') -%>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff75;
        }
    </style>
    <div class="text-center center-div" id="feedback">
        <div class="container w-40 border py-5">
            <h2 class="font-weight-bold">My Feedbacks</h2>
            <br>
            <div name="feedback">
                <table>

                    <% for (var i=0; i < Q.length; i++) { %>
                        <tr>
                            <th>
                                <%= Q[i]['dataValues']['intrebare'] %>
                            </th>
                            <%let k=0%>
                                <% for (var j=0; j < fb.length; j++) { %>
                                    <% k+=1%>
                                    <% console.log("k=", k)%>
                                        <% if(fb[j]['dataValues']['id_intrebare']===Q[i]['dataValues']['id']) { %>
                                            <% console.log("BUN: ", Q[i]['dataValues']['id'], fb[j]['dataValues']['id_intrebare']) %>
                                            <%k=0%>
                                                <td>
                                                    <%=fb[j]['dataValues']['raspuns']%>
                                                </td>

                                                <%}else { console.log("NEBUN",fb[j]['dataValues']['id_intrebare'],Q[i]['dataValues']['id']) %>
                                                <%if(k==5) { console.log("-------")%>
                                                    <td>
                                                        -
                                                    </td>
                                                    <% k=0 %>
                                                    <% } } %>


                                                        <%}%>
                                                            <%k=0%>
                        </tr>
                        <% } %>

                </table>
            </div>
            </form>
            <br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a><br><br>
            <a href="/route/dashboard" class="btn btn-success rounded-pill">Inapoi</a>
        </div>
    </div>


    <%- include('footer') -%>