<%- include('header') -%>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff75;
        }
    </style>
    <div class="text-center center-div" id="feedback">
        <div class="container w-40 border py-5">
            <h2 class="font-weight-bold">My Feedbacks</h2>
            <br>
            <div name="feedback">
                <table>

                    <% Q.forEach(function (chiu) {%>
                        <th>
                            <%=chiu.intrebare%>
                        </th>
                        <%})%>

                        
                        <% console.log("fb=", fb)%>
                            <% for (var i=0; i < fb.length/Q.length; i++) {%>
                                <tr>
                                    <% for (var j=0; j < Q.length; j++) { %>
                                        <td>
                                            <%=fb[i*Q.length+j]['dataValues']['raspuns']%>
                                            <%console.log("i=", i,fb[i*Q.length+j]['dataValues']['raspuns'])%>
                                        </td>
                                        <%}%>
                                </tr>
                                <%}%>

                </table>
            </div>
            </form>
            <br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a><br><br>
            <a href="/route/dashboard" class="btn btn-success rounded-pill">Inapoi</a>
        </div>
    </div>


    <%- include('footer') -%>